In [1]:
print("hii all good morning")

hii all good morning

In [ ]:
we will wait for 4min

## Introduction to variables

In [ ]:
variables:It is going to store values and data

In [ ]:
x=6

In [ ]:
name='himanshu'

In [ ]:
**they are three rules to declare variables

In [ ]:
1.No gaps or spaces are going to use in between variable names

In [2]:
full name='srinija kalluri'        ## invalid syntax

SyntaxError: invalid syntax (<ipython-input-2-35a9474d9742>, line 1)

In [3]:
full_name='srinija kalluri'            ## valid syntax

In [4]:
print(full_name)

srinija kalluri

In [ ]:
2.Variable name doesnt starts with numerics or numbers

In [5]:
6city='chennai'

SyntaxError: invalid syntax (<ipython-input-5-bc18079ad2d3>, line 1)

In [6]:
city7='hyd'

In [7]:
print(city7)

hyd

In [ ]:
@#$

In [ ]:
3.No special charcters should be used in the beggining of the variable

In [10]:
$name="khalid"

SyntaxError: invalid syntax (<ipython-input-10-6912a33b0076>, line 1)

In [ ]:
## comments

1.single line comment
2.multi line comment

In [ ]:
## intro to python

In [ ]:
## add two numbers
## a,b
## a=5,b=9
##a+b
##c

## Introduction datatypes or data structures in python

In [ ]:
1.string------------->str
2.list---------------->list
3.tuple---------------->tuple
4.dictionary----------->dict
5.set------------------->set

In [ ]:
## introducting to strings---------->

In [ ]:
string------->A group of characters  or group of characters

In [ ]:
## we can declare strings using 3 different ways--->single quote,double quote,trile quote

In [ ]:
'python'
"python"
'''python'''

In [11]:
name='lavanya'

In [12]:
print(name)

lavanya

In [13]:
type(name)

str

In [14]:
food='cake'

In [15]:
print(food)

cake

In [16]:
name='charan'

In [17]:
print(name)

charan

In [ ]:
## three bulitin methods

1.upper()
2.title()
3.lower()

In [ ]:
## Title method

In [18]:
print(name.title())

Charan

In [ ]:
## upper method------>complete capital letters

In [19]:
print(name.upper())

CHARAN

In [ ]:
## lower method---------->all in lower case

In [20]:
print(name.lower())

charan

## Introduction to fstrings----->formatted strings

In [21]:
first_name='devi'
last_name='viswanadham'

In [ ]:
## syntax to fstring----->f"{place holder for variable name}"

In [28]:
full_name=f"{first_name} {last_name}"

In [30]:
print(full_name.upper())

DEVI VISWANADHAM

In [31]:
print("hello world")

hello world

In [ ]:
a,b a=8,b=7,a+b c

In [32]:
10+5

15

In [33]:
50-6

44

In [34]:
66-99

-33

In [35]:
5*10

50

In [36]:
10/5

2.0

In [37]:
a=5
b=4

In [38]:
a+b

9

In [39]:
print(a+b)

9

In [43]:
num=input('pls enter a num')

pls enter a num7

In [44]:
type(num)

str

In [ ]:
## int

## eval