In [1]:
print("hii all good morning\n have a nice a day")

hii all good morning
 have a nice a day

In [ ]:
we will wait for 3min

In [ ]:
## deleting the elements in the list

In [ ]:
delete
pop

In [17]:
students=['himanshu','srinija','vyshnavi','fazul','sumaduhra','lavanya','john','chintu']

In [18]:
print(students)

['himanshu', 'srinija', 'vyshnavi', 'fazul', 'sumaduhra', 'lavanya', 'john', 'chintu']

In [6]:
students.pop()

'chintu'

In [7]:
students.pop(2)

'vyshnavi'

In [8]:
print(students)

['himanshu', 'srinija', 'fazul', 'samudhra', 'lavanya', 'john']

In [9]:
students.pop()

'john'

In [10]:
print(students)

['himanshu', 'srinija', 'fazul', 'samudhra', 'lavanya']

In [ ]:
## organizing a list

In [11]:
city=['delhi','mumbai','hyd','kurnool','vij','chennai','bnglr']

In [12]:
print(city)

['delhi', 'mumbai', 'hyd', 'kurnool', 'vij', 'chennai', 'bnglr']

In [ ]:
## requirement-->organize a list in alphabetical order

In [13]:
city.sort()

In [14]:
print(city)

['bnglr', 'chennai', 'delhi', 'hyd', 'kurnool', 'mumbai', 'vij']

In [20]:
students.sort()

In [21]:
print(students)

['chintu', 'fazul', 'himanshu', 'john', 'lavanya', 'srinija', 'sumaduhra', 'vyshnavi']

In [ ]:
## reverse the list

In [22]:
students.reverse()

In [23]:
print(students)

['vyshnavi', 'sumaduhra', 'srinija', 'lavanya', 'john', 'himanshu', 'fazul', 'chintu']

In [24]:
students.sort()

In [25]:
print(students)

['chintu', 'fazul', 'himanshu', 'john', 'lavanya', 'srinija', 'sumaduhra', 'vyshnavi']

In [ ]:
## Negative index

In [ ]:
city=['delhi','mumbai','hyd','kurnool','vij','chennai','bnglr']
        0        1       2      3         4     5        6----------->+ve index
        -7         -6        -5       -4         -3       -2         -1----->-ve index

In [26]:
print(city)

['bnglr', 'chennai', 'delhi', 'hyd', 'kurnool', 'mumbai', 'vij']

In [29]:
print(city[-5].upper())

DELHI

In [28]:
print(city[-1])

vij

In [30]:
print(city[-10])

IndexError: list index out of range

In [31]:
len(city)

7

In [ ]:
## slicing of list

In [ ]:
## requirement------>create a grou of 3 members

In [32]:
print(students)

['chintu', 'fazul', 'himanshu', 'john', 'lavanya', 'srinija', 'sumaduhra', 'vyshnavi']

In [ ]:
['chintu','fazul','himanshu','john','lavanya','srinija','sumadhura','vyshnavi']
    0        1        2         3       4        5          6            7

In [36]:
print(students[0:3])

['chintu', 'fazul', 'himanshu']

In [38]:
print(students[5:8])

['srinija', 'sumaduhra', 'vyshnavi']

In [39]:
print(students[1:4])

['fazul', 'himanshu', 'john']

In [42]:
print(students[3:5])

['john', 'lavanya']

In [ ]:
## looping statements------------>for loop

In [43]:
print(students)

['chintu', 'fazul', 'himanshu', 'john', 'lavanya', 'srinija', 'sumaduhra', 'vyshnavi']

In [45]:
for a in students:
    print(a)

chintu
fazul
himanshu
john
lavanya
srinija
sumaduhra
vyshnavi

In [46]:
print('these are my friends')
for a in students:
    print(a)

these are my friends
chintu
fazul
himanshu
john
lavanya
srinija
sumaduhra
vyshnavi

In [ ]:
## copy of list

In [47]:
my_food=['biryani','cake','choclate','puttu','choclate']

In [48]:
print(my_food)

['biryani', 'cake', 'choclate', 'puttu', 'choclate']

In [49]:
friend_food=my_food[:]

In [50]:
print(friend_food)

['biryani', 'cake', 'choclate', 'puttu', 'choclate']

In [52]:
cars=['audi','bmw','toyato','kia']

In [53]:
print(cars)

['audi', 'bmw', 'toyato', 'kia']

In [54]:
my_cars=cars[:]

In [55]:
print(my_cars)

['audi', 'bmw', 'toyato', 'kia']

In [ ]:
## w3 schools
## sanfaundary